<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="is-preload landing">
	<div class="page-wrapper">
		<%= render :partial => 'anyComponents/header' %>

		<%= yield %>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li>
					<a href="https://www.facebook.com/NewExtensionSquad" class="icon alt fa-facebook" target="_blank">
						<span class="label">Facebook</span>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/newextensionsquad" class="icon alt fa-instagram" target="_blank">
						<span class="label">Instagram</span>
					</a>
				</li>
				<li>
					<a href="https://www.youtube.com/channel/UCGvLnqOqL7iSHBqStY_kbLQ" class="icon alt fa-youtube" target="_blank">
						<span class="label">Youtube</span>
					</a>
				</li>
				<%# <li>
					<a href="xaskade@gmail.com" class="icon alt fa-envelope">
						<span class="label">Email</span>
					</a>
				</li> %>
			</ul>
			<ul class="copyright">
				<li>&copy; Untitled. All rights reserved.</li>
				<li>Design:
					<a href="#">Yass</a>
				</li>
			</ul>
		</footer>
	</div>
  </body>
</html>
